html
  head
    title npc - 
        =id
    link(rel="stylesheet" href="./css/base.css")
    link(rel="stylesheet" href="./css/section.css")
    link(rel="stylesheet" href="./css/modern.css")
  body
    main
        h1 NPC: 
            span=id
        .jmaple
            .head
            .body
                .npc
                    .img
                        img(src=image)
                    p.name=name
                .dialog
                    .info !{html}
                    .btns
                        case cm
                            when 1
                                button.next NEXT
                            when 2
                                button.prev PREV
                            when 3
                                button.prev PREV
                                button.next NEXT
            .footer
                div
                    button.exit ENDCHAT
                div
                    case cm
                        when 0
                            button.yes OK
                        when 4
                            button.yes YES
                            button.no NO
                        when 5
                            button.yes ACCEPT
                            button.no DECLINE
    script(type="text/javascript").
        #{handler}
        handler(document.querySelector('div.jmaple'))
